page-config {
  ion-list {
    ion-item {
      background: #fff !important;
      border-bottom: solid 0.5px rgba(0, 0, 0, 0.1) !important;
    }
  }
  ion-card {
    width: 100% !important;
    margin: 10px 0 !important;
  }
}
